<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <div class="p-3 mb-2 bg-info text-white">
        <div class="container-fluid">
        
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <span class="glyphicon glyphicon glyphicon-cloud"></span>
                    League of Legends
                    <span class="glyphicon glyphicon glyphicon-cloud"></span> 
                </a>
        
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/uploadData">Create</a></li>
                    <li><a href="/list">List</a></li>
                </ul>
            </div>
        
        </div>
    </div>
</nav>