<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <!-- CSS should be in a file -->
    <style>
    .jumbotron
    {
      background-color:rgb(129, 171, 233);
    }
    </style>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>
<main>
 
  <div class="jumbotron">
      <div class="p-3 mb-2 bg-info text-dark">
        <br>
          <img src="https://steam.cryotank.net/wp-content/gallery/leagueoflegends/League-of-Legends-10-HD.png" alt="banner" width="550" height="300">
      <h1>League of Legends</h1>
      <br>
      <h2>Welcome, Summoner!</h2>
  </div>
</div>
</main>

<footer>
  <% include ../partials/footer %>
</footer>

</body>
</html>