<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>
<main>
  <div class="text-primary">
  <div class="jumbotron">
      <h2>Here's your creation</h2>

      <%if (dataArray != null) { %>
       
        <ul class="list-group">
            <% dataArray.forEach(function(dat) {%>
              <li class="list-group-item"><%= "Character Name:  " + dat.id + "             Class: " + dat.date %></li>
            <% }) %>
          </ul>


        <% } %>



  </div>
</div>
</main>

<footer>
  <% include ../partials/footer %>
</footer>

</body>
</html>